body {
    background-image: url("https://cdn-b.saashub.com/images/app/screenshots/158/evtx8ltaa3l3/landing-original.jpg?1676597189");
    background-size: cover;
  }
  

.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
  /* Ensure items are stacked vertically */
}

.payment-title {
    text-align: center;
}

.payment-form {
    text-emphasis-color: red;
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px; 
    background-color:aqua;/* Add some space between the form and button */
}

.payment-label {
    display: block;
    margin-bottom: 10px;
}

.payment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
