body {
  background-image: url("https://cdn-b.saashub.com/images/app/screenshots/158/evtx8ltaa3l3/landing-original.jpg?1676597189");
  background-size: cover;
}



.transactions-container {
  padding: 20px;
  background-image: 'https://cdn-b.saashub.com/images/app/screenshots/158/evtx8ltaa3l3/landing-original.jpg?1676597189';
}

.page-title {
  text-align: center;
  color: #333;
}

.transactions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
 
}

.transaction-card {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: aqua;
}

.transaction-card:hover {
  transform: translateY(-5px);
}

.transaction-details {
  text-align: center;
}

.transaction-name {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.transaction-amount {
  font-size: 16px;
  color: #555;
}
